<script type="text/ng-template" id="help.highlight.html">
<h3><i class="fa fa-question-circle fa-2x"></i> OCR Image</h3>
<p>The Highlight Text API finds specified terms in your input text and adds a HTML tag to the specified term. It returns your input text, with the added HTML tags.</p>
<p>IDOL OnDemand highlighting does not simply highlight the exact text that you send in the Highlight_expression parameter. It applies language stemming rules to highlight words with the same root, which means that it can highlight all the information in the text that is relevant to the search term or the highlight expression of your choice.</p>
<p>The <strong>start_tag</strong> parameter allows you to change the default tag to suit your needs.</p>
<p>For more information, see <a href="https://www.idolondemand.com/developer/apis/highlighttext#overview" target="_blank">here</a>.</p>
</script>
